@media print
{
#top_colorbar {
	display: none;
}
#nav_org_wrap {
	display: none;
}
#nav_main_wrap {
	display: none;
}
}
#top_colorbar {
	margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 10px; position: fixed; z-index: 10; background-color: rgb(16, 58, 120);
}
#nav_org_wrap {
	background: rgb(69, 68, 69); margin: 0px; padding: 0px; left: 0px; top: 10px; width: 100%; height: 19px; position: fixed; z-index: 10; _margin-top: -4px;
}
#nav_org_wrap a {
	color: rgb(210, 170, 47); line-height: 14pt; font-family: verdana, arial, sans-serif; font-size: 9pt;
}
#nav_org {
	margin: 0px 0px 0px 2px; padding: 0px; width: auto; text-align: left; float: left;
}
#nav_org ul li {
	margin: 0px; padding: 0px;
}
#nav_org ul li ul li a {
	margin: 0px 0px 0px 2px; width: 100%; color: rgb(0, 0, 0); line-height: 10pt;
}
#search {
	margin: 0px 2px 0px 0px; padding: 0px; width: auto; height: 19px; border-left-color: rgb(51, 51, 51); border-left-width: 1px; border-left-style: solid; float: right;
}
#search ul li {
	margin: 0px; padding: 0px;
}
#search ul li ul li a {
	margin: 0px 0px 5px 2px; width: 100%; color: rgb(0, 0, 0); line-height: 10pt;
}
.menubar {
	list-style: none; margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;
}
.menubar ul {
	list-style: none; margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;
}
.menubar a {
	padding: 0px 10px; height: auto; text-decoration: none; border-right-color: rgb(51, 51, 51); border-right-width: 1px; border-right-style: solid; display: block; _display: inline; _height: 14px;
}
.menubar a.trigger {
	background-position: right; padding: 0px 16px 0px 10px; background-image: url("../images_ncar/menu_downarrow.png"); background-repeat: no-repeat; _background-image: none;
}
.menubar li {
	float: left;
}
.menubar li ul li {
	width: 95%; font-size: 8pt;
}
.menubar li {
	position: relative;
}
.menubar li {
	width: auto; position: static;
}
.menubar li ul {
	width: 325px;
}
.menubar ul li {
	width: 325px;
}
.menubar ul li a {
	padding: 0px 3px 10px 10px; color: rgb(86, 86, 86); border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
.menubar li ul {
	border-right-color: rgb(51, 51, 51); border-bottom-color: rgb(51, 51, 51); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; display: none; position: absolute; background-image: url("http://www.ncar.ucar.edu/images_ncar/menu_gradient.jpg"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.menubar li:hover a {
	color: rgb(0, 0, 0); z-index: 100; background-color: rgb(0, 0, 0);
}
#menubar a:focus {
	color: rgb(0, 0, 0); z-index: 100; background-color: rgb(0, 0, 0);
}
.menubar a:active {
	color: rgb(0, 0, 0); z-index: 100; background-color: rgb(0, 0, 0);
}
.menubar li:hover ul {
	display: block; z-index: 100;
}
.menubar li:hover ul a {
	color: rgb(0, 0, 0); z-index: 100; background-color: transparent;
}
.menubar ul a:hover {
	color: rgb(255, 255, 255) !important; z-index: 100; background-color: rgb(96, 96, 96) !important;
}
.menubar li:hover ul.dropleftorg {
	text-align: right; margin-left: -237px; display: block; z-index: 100;
}
#nav_main_wrap {
	background: url("/Images/mainnavback_thin.jpg") repeat-x rgb(0, 0, 0); left: 0px; top: 28px; width: 100%; height: 40px; position: fixed; z-index: 2; _margin: -5px 0px; _overflow: hidden;
}
#nav_main {
	margin: 0px auto; padding: 0px; width: 1000px; height: 40px; z-index: 3; _width: 940px;
}
#menubar_main {
	width: 996px; z-index: 4;
}
#menubar_main {
	list-style: none; margin: 0px; padding: 2px 0px; font-family: Arial, Helvetica, sans-serif; z-index: 10; _padding: 10px 0px;
}
#menubar_main ul {
	list-style: none; margin: 0px; padding: 2px 0px; font-family: Arial, Helvetica, sans-serif; z-index: 10; _padding: 10px 0px;
}
#menubar_main a {
	padding: 0px 10px; height: 30px; color: rgb(255, 255, 255); font-size: 10pt; text-decoration: none; display: block; _display: inline;
}
#menubar_main a.triggeron {
	background-position: right; padding: 5px 16px 0px 10px; color: rgb(240, 156, 78); font-weight: bold; background-image: url("http://www.ncar.ucar.edu/images_ncar/menu_downarrow_gray.png"); background-repeat: no-repeat; _background-image: none;
}
#menubar_main a.trigger {
	background-position: right; padding: 5px 16px 0px 10px; background-image: url("http://www.ncar.ucar.edu/images_ncar/menu_downarrow_gray.png"); background-repeat: no-repeat; _background-image: none;
}
#menubar_main li {
	width: 9em; float: left;
}
#menubar_main li ul li {
	text-align: left; line-height: 14pt; font-size: 8pt; float: none;
}
#menubar_main li {
	position: relative;
}
#menubar_main li {
	width: auto; position: static;
}
#menubar_main li ul {
	margin: 0px; padding: 0px; width: 250px;
}
#menubar_main ul li {
	margin: 0px; padding: 0px; width: 250px;
}
#menubar_main ul li a {
	height: auto; color: rgb(86, 86, 86); border-bottom-color: rgb(145, 177, 205); border-bottom-width: 1px; border-bottom-style: dotted; z-index: 30;
}
#menubar_main li ul {
	border-width: 2px; border-style: solid; border-color: rgb(145, 177, 205) rgb(47, 85, 162) rgb(47, 85, 162); padding: 5px 10px; display: none; position: absolute; z-index: 20; background-repeat: repeat-x; background-color: rgb(111, 146, 176);
}
#menubar_main li:hover a {
	color: rgb(255, 255, 255); background-color: rgb(47, 85, 162);
}
#menubar_main a:focus {
	color: rgb(255, 255, 255); background-color: rgb(47, 85, 162);
}
#menubar_main a:active {
	color: rgb(255, 255, 255); background-color: rgb(47, 85, 162);
}
#menubar_main li:hover ul {
	display: block;
}
#menubar_main li:hover ul.dropleft {
	margin-left: -205px; display: block;
}
#menubar_main li:hover ul a {
	color: rgb(255, 255, 255); background-color: transparent;
}
#menubar_main ul a:hover {
	color: rgb(255, 255, 255) !important; background-color: rgb(47, 85, 162) !important;
}
* {
	margin: 0px; padding: 0px;
}
body {
	background: url("/Images/gray_pat-1s.gif") rgb(88, 87, 86); text-align: center; line-height: 14pt; font-family: verdana, sans-serif; font-size: 9pt; font-weight: normal;
}
ul {
	margin: 0px 0px 5px; list-style-position: inside;
}
ol {
	margin: 0px 0px 5px; list-style-position: inside;
}
li {
	margin: 0px; padding: 0px 0px 0px 1px;
}
li img {
	margin: 0px 1px 0px 0px; padding: 0px; display: inline;
}
img {
	margin: 0px 2px; padding: 0px; width: auto;
}
h1 {
	margin: 0px 0px 25px; padding: 5px; color: rgb(2, 83, 143); line-height: 18pt; clear: both; font-family: lucida sans, verdana, arial, sans-serif; font-size: 16pt; font-style: normal;
}
h2 {
	margin: 15px 5px 10px 0px; color: rgb(51, 51, 51); line-height: 14pt; font-family: verdana, arial, sans-serif; font-size: 12pt; font-weight: bold;
}
h3 {
	margin: 16px 5px 15px 2px; color: rgb(100, 140, 109); line-height: 13pt; font-family: Georgia, Times, serif; font-size: 11pt; font-style: normal; font-weight: bold;
}
h4 {
	margin: 12px 5px 10px 12px; color: rgb(51, 51, 51); line-height: 11pt; font-family: verdana, arial, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold;
}
p {
	margin: 10px 15px 25px 0px; color: rgb(45, 45, 45); font-family: verdana, sans-serif; font-weight: normal;
}
a {
	color: rgb(0, 64, 255); font-family: verdana, sans-serif; font-weight: normal; text-decoration: none;
}
a:visited {
	color: rgb(133, 45, 133); font-family: verdana, sans-serif; font-weight: normal; text-decoration: none;
}
a:hover {
	background: rgb(205, 232, 251);
}
pre {
	border-width: 0px 0px 15px; border-style: solid; border-color: transparent; line-height: 12pt; font-family: courier; font-size: 10pt;
}
td {
	padding: 5px;
}
dt {
	line-height: 13pt; font-family: verdana, arial, sans-serif; font-size: 11pt; font-weight: bold;
}
dt strong {
	line-height: 13pt; font-family: verdana, arial, sans-serif; font-size: 11pt; font-weight: bold;
}
dd {
	line-height: 12pt; font-size: 10pt; margin-left: 25px;
}
dt code {
	line-height: 12pt; font-size: 10pt;
}
@media screen
{
#wrap {
	left: 0px; top: 68px; width: 100%; bottom: 0px; overflow: auto; position: absolute; _top: 75px;
}
}
#content {
	width: 978px; height: auto; text-align: left; margin-right: auto; margin-left: auto; border-right-color: rgb(136, 170, 221); border-bottom-color: rgb(136, 170, 221); border-left-color: rgb(136, 170, 221); border-right-width: 5px; border-bottom-width: 3px; border-left-width: 5px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255); _height: auto;
}
#content h1 {
	margin: 50px 10px -2px; clear: both;
}
#subheader {
	width: 100%; height: 40px; clear: left; border-bottom-color: rgb(131, 170, 197); border-bottom-width: 1px; border-bottom-style: solid; float: left; display: inline; background-color: rgb(255, 255, 255);
}
#subheader img {
	margin: 0px; border: currentColor; border-image: none; float: left;
}
#subheader a img {
	border: currentColor; border-image: none;
}
#subheader .datetime {
	font: 11pt/12pt arial, verdana, sans-serif; margin: 3px 15px 2px 0px; color: rgb(154, 147, 148); float: right; font-size-adjust: none; font-stretch: normal;
}
#nclheader {
	margin: 0px; width: 650px; height: 40px; float: left; background-color: rgb(34, 69, 150);
}
#googlesearch {
	width: 322px; float: right;
}
#googlesearch a {
	margin: 2px 5px 0px 3px; color: rgb(68, 68, 68); font-size: 8pt; vertical-align: middle; float: right;
}
#googlesearch input {
	margin: 2px 5px 0px 3px; font-size: 8pt; vertical-align: middle; float: right; background-color: rgb(228, 238, 246);
}
submit {
	margin: 2px 5px 0px 3px; font-size: 8pt; vertical-align: middle; float: right; background-color: rgb(228, 238, 246);
}
#googlesearch p.datetime {
	margin: 2px 10px 0px 0px; text-align: right; color: rgb(148, 103, 26); font-size: 11pt;
}
#maincontent_subcolumn_full {
	margin: 0px 5px 0px 0px; padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 770px; min-height: 710px; background-color: rgb(245, 244, 233); _height: 400px; _padding: 0px;
}
#maincontent_subcolumn_full ul {
	padding: 0px 0px 0px 25px; color: rgb(51, 51, 51); list-style-type: square;
}
#maincontent_subcolumn_full li {
	margin: 0px 0px 5px;
}
.directory table {
	padding: 0px 0px 5px 45px;
}
#frontpage_main {
	margin: 0px 10px 20px 0px; width: 650px; height: auto; padding-left: 10px; float: left; _margin: 0px; _width: 640px;
}
#frontpage_main h1 {
	margin: 20px 0px 10px; padding: 3px; width: 100%; color: rgb(51, 51, 51); line-height: 14pt; font-size: 12pt; _width: 95%;
}
#frontpage_main p {
	margin: 10px 0px 20px; color: rgb(51, 51, 51); line-height: 12pt; font-size: 8pt; font-variant: normal;
}
#frontpage_main ul {
	color: rgb(51, 51, 51); line-height: 12pt; font-size: 8pt;
}
#frontpage_main ul li {
	list-style: square; margin: 5px 20px 5px 10px;
}
#frontpage_subcolumn {
	margin: 0px 0px -20px -10px; padding: 0px; width: 620px; height: auto; clear: left; float: left; background-color: rgb(255, 255, 255); _margin: 5px 0px -20px 0px; _width: 610px;
}
#sidebar_setup {
	background: white; margin: 15px 10px 0px 4px; width: 280px; height: auto; padding-left: 10px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left; _width: 270px;
}
#frontpage_sidebar {
	background: url("Images/frontpage_sidebar.jpg") rgb(242, 242, 242); margin: 0px 20px 10px 2px; border: 2px solid rgb(233, 232, 212); border-image: none; width: 98%; height: auto; line-height: 12pt; padding-left: 5px; font-size: 9pt; float: left; min-height: 100px; _width: 98%;
}
#frontpage_sidebar h1 {
	margin: 5px 10px 10px 5px; padding: 3px; width: auto; text-align: center; color: rgb(51, 51, 51); line-height: 12pt; font-size: 10pt; _width: 98%;
}
#general_main {
	margin: 0px 0px 20px 10px; width: 750px; height: auto; line-height: 12pt; padding-left: 100px; font-size: 10pt; _margin: 0px; _width: 650px;
}
#general_main p {
	margin: 10px 0px 20px; color: rgb(51, 51, 51); line-height: 12pt; font-size: 10pt; font-variant: normal;
}
#general_main img {
	margin: 0px 10px 0px 2px;
}
#general_main ul li {
	color: rgb(51, 51, 51); line-height: 12pt; text-indent: -1em; padding-left: 25px; font-size: 10pt;
}
#general_main ul li blockquote {
	color: rgb(51, 51, 51); line-height: 12pt; text-indent: 0em; padding-left: 25px; font-size: 10pt;
}
#general_main pre {
	text-indent: 0em;
}
#general_main ol li {
	color: rgb(51, 51, 51); line-height: 12pt; text-indent: 0em; padding-left: 15px; font-size: 10pt;
}
#general_main p.spec {
	margin: 0px; text-indent: -1em; padding-left: 2em;
}
#general_main div.mainimage {
	border-width: medium medium 30px; border-style: solid; border-color: transparent; width: 570px; clear: both; float: left;
}
#general_main div.ex {
	padding: 5px; border: 2px solid rgb(127, 0, 0); width: 700px; line-height: 12pt; font-size: 10pt; margin-bottom: 5px; min-height: 120px; background-color: rgb(255, 231, 198);
}
#general_main div.text {
	padding: 5px; border: 2px solid rgb(127, 0, 0); width: 700px; line-height: 12pt; clear: both; font-size: 10pt; margin-bottom: 5px; background-color: rgb(255, 231, 198);
}
#general_main h1 {
	margin: 5px 0px 0px -5px; color: rgb(2, 83, 143); line-height: 22pt; font-family: lucida sans, verdana, arial, sans-serif; font-size: 20pt; font-style: normal;
}
#general_main h2 {
	margin: 15px 5px 10px 0px; color: black; line-height: 15pt; font-family: verdana, arial, sans-serif; font-size: 13pt;
}
#general_main div.main {
	
}
#general_main blockquote {
	line-height: 12pt; font-size: 10pt; margin-left: 25px;
}
a.crumb:visited {
	
}
#footer {
	background: rgb(204, 204, 204); margin: -2px 0px; padding: 5px; width: 968px; height: 15px; clear: both; border-top-color: rgb(128, 146, 128); border-bottom-color: rgb(128, 146, 128); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; float: left;
}
#footer p {
	margin: 3px 3px 3px 15px; line-height: 10pt; font-size: 9pt;
}
#footer a {
	color: rgb(76, 75, 76);
}
.floatleft {
	margin: 5px 12px 6px 0px; padding: 0px; clear: left; float: left;
}
.floatleft_border {
	margin: 5px 12px 6px 0px; border: 1px solid black; border-image: none; clear: left; float: left;
}
.floatright {
	margin: 5px 0px 6px 12px; padding: 0px; clear: right; float: right;
}
.floatright_border {
	margin: 5px 0px 6px 12px; padding: 0px; border: 1px solid black; border-image: none; clear: right; float: right;
}
.clearboth {
	clear: both;
}
.no_float {
	margin: -10px 0px 12px -15px; padding: 5px; clear: both; border-top-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.center {
	text-align: center; margin-top: 4px; margin-right: auto; margin-left: auto;
}
.textorange {
	color: rgb(196, 139, 39); font-style: italic; font-weight: bold;
}
.textgreen {
	color: rgb(74, 176, 125); font-style: italic; font-weight: bold;
}
.textblue {
	color: rgb(34, 69, 150); font-style: italic; font-weight: bold;
}
.bluefill {
	background: rgb(136, 170, 221); margin: 3px 10px 10px 5px; padding: 3px 10px 3px 0px; color: rgb(51, 51, 51); line-height: 11pt; font-size: 9pt; border-top-color: rgb(175, 207, 227); border-bottom-color: rgb(175, 207, 227); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.greenfill {
	background: rgb(136, 191, 134); margin: 3px 0px 10px 5px; padding: 3px 0px; width: auto; color: rgb(51, 51, 51); line-height: 11pt; font-size: 9pt; border-top-color: rgb(122, 185, 120); border-bottom-color: rgb(122, 185, 120); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.newfill {
	background: rgb(221, 186, 135); margin: 3px 10px 10px 5px; padding: 3px 10px 3px 0px; color: rgb(51, 51, 51); line-height: 11pt; font-size: 9pt;
}
